@page "/"

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Principale</title>
</head>
<body>
<h1>Bienvenue sur le jeu</h1>
<button id="start-game-button">Start Game</button>

<script>
    document.getElementById('start-game-button').addEventListener('click', function() {
        // Redirige l'utilisateur vers la page /carte
        window.location.href = "/carte";
    });
</script>
</body>
</html>




