<div class="top-row ps-3 navbar ">
    <div class="container-fluid">
        <a class="navbar-brand" href="">JuroAdventure</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="homeIcon" aria-hidden="true"></span>Personnages
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/carte" Match="NavLinkMatch.All">
                <span class="MapIcon" aria-hidden="true"></span>   Carte
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/inventaire">
                <span class="InventoryIcon" aria-hidden="true"></span> Inventaire
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/menu">
                <span class="menuIcon" aria-hidden="true"></span>   Menu
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}